html,body{ overflow-x: hidden; }

body {
  font-size: 20px;
  color: #212529;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);d
}
p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #0085A1;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: fixed;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: rgba(129, 80, 135, 0);
}



#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  opacity: 1;
  padding:10px 12px;
}
#mainNav .navbar-nav > li.nav-item > a:hover {
  opacity: 0.8;
}
#mainNav .navbar-toggler i{ font-size: 30px; }
#mainNav .navbar-toggler:hover, #mainNav .navbar-toggler:active, #mainNav .navbar-toggler:focus{ box-shadow: none; outline: none; }
@media only screen and (min-width: 992px) {
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.5s;
    background-color: rgba(129, 80, 135, 0);
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    transition: background-color 0.5s;
    background-color: rgba(129, 80, 135, 0.8);
  }

}

header.masthead {
  margin-bottom: 50px;
  position: relative;
  background-size: 100% 200px;
  background: url(../img/home-bg.jpg) no-repeat top center;
  min-height: 500px; 
  max-height: 500px;
}
header.mastead .row .col-lg-6{ min-height: 600px; max-height: 600px; }

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .site-heading h1 span{ display: block; }

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  padding-left: 5px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: 'Lora', 'Times New Roman', serif;
  text-align: center;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #00657b !important;
  border-color: #00657b !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.vcenter{
  display:flex;
  flex-direction:column;
  justify-content:center;
  }
.vbottom{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}

.flip {
  -webkit-perspective: 800;   
          perspective: 800;
        position: relative;
        z-index: 99;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
   
}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}
.flip .card .front {
   position: absolute;
    width: 100%;
   z-index: 1;
}

.flip .card .back {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
  .inner{margin:0px !important;}

/* PAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
:focus { outline: 0; box-shadow: none; }
::selection{background:#9a94cb; color: #ffffff;}
.container{ max-width: 1500px; }
.slider-home img{ width: 100%; }

header.masthead .site-heading{ position: absolute;padding: 0px; text-transform: uppercase;}
.home header.masthead .site-heading{ top:305px; }
.site-heading span{ margin: 0px;}
.site-heading span.reimagined{ color: #827286; margin-top: -15px;}
.site-heading span.subheading{ text-transform: none; color: #827286; margin-top: -20px; }


.featured-playdates .titulo{  color: #ffffff; background: #815087; margin: 0px 85px; padding: 30px 0px 100px 0px;  } 
.featured-playdates h2{ font-size: 40px; font-weight: 700; text-align: center; color: #ffffff;  } 
.box-playdates{box-shadow: 5px 5px 50px 0px rgba(173,173,173,0.5); margin: -70px 0px 50px 0px; border-bottom: 15px solid transparent; display: block; float: left; padding-bottom: 30px; width: 100%; }
.box-playdates .img-container, .img-container img { position: relative; width: 100%; }
.box-playdates .img-container{ min-height: 60px; }
.box-playdates .cat-box{ position: absolute; color: #ffffff; font-size: 18px; bottom:0px; right: 10px; }
.box-playdates > div:not(.img-container){ margin: 10px 0px; float: left; padding: 0px 15px; width: 100%; }
.box-playdates .time .date{ float: left;  font-size: 18px; color:#838383; }
.box-playdates .time .hour{ float: right;  font-size: 18px; color:#838383; }
.box-playdates .info .title{ font-size: 25px; color: #5b5b5b; font-weight: bold; float: left; width: 100%; text-transform: capitalize;  }
.box-playdates .info .subtitle{ font-size: 19px; color: #838383;  float: left; width: 100%; }
.box-playdates div.data{ font-size: 19px; color: #838383;  float: left; width: 100%; margin-bottom: 20px; }
.box-playdates .bt-reserve{ display: table; font-size: 18px;   padding: 10px 0px; margin: auto; color:#838383; border:2px solid #838383; transition:all 0.5s ease;text-decoration: none; min-width: 250px;text-align: center;}
.box-playdates .bt-reserve:hover{ text-decoration: none; background: #838383; color: #ffffff }
.box-playdates .bt-reserve.feedback{  color:#815087; border:2px solid #815087; }
.box-playdates .bt-reserve.feedback:hover{color:#ffffff; border:2px solid #815087; background:#815087 }  
.box-playdates .bt-reserve.bt-join{  color:#815087; border:2px solid #815087; margin-bottom: 20px; }
.box-playdates .bt-reserve.bt-join:hover{color:#ffffff; border:2px solid #815087; background:#815087 } 
.box-playdates .bt-reserve.declined{  color:#bbbbbb; border:2px solid #bbbbbb; cursor: default; }
.box-playdates .bt-reserve.declined:hover{  color:#bbbbbb; border:2px solid #bbbbbb; background: #ffffff; }   
.box-playdates .data p{ margin: 0px;  }
.bt-learn-more,.bt-learn-more:hover{ color:#815087;  }






.content-title{ margin-bottom: 50px; }
.content-title h2{ background: #9a94cb; color: #ffffff; padding:60px 40px ; text-transform: uppercase; width: 85%; max-width: 700px;}
.content-title h2 span{ font-size: 20px; display: block; font-size: 20px; margin-top: 5px; font-weight: normal; text-transform: none;   }
.content-title .texto strong{ font-size: 20px; }
.content-title .texto{ background: #f6f6f6; padding:50px 40px; width: 85%; margin-top: -40px; float: right; font-size: 18px; }
.content-title .texto p{ margin: 10px 0px; } 
.content-title .texto ul li, .content-title .texto ul{ list-style: none;margin: 0px; padding:0px; }
.content-title .texto ul.list-icon li{  padding-left: 25%; padding-top: 10px; margin:20px 0px;}
.content-title .texto ul.list-icon li.ico-search{ background: url(../img/ico-search.png) no-repeat 30px 0px; }
.content-title .texto ul.list-icon li.ico-request{ background: url(../img/ico-request.png) no-repeat 30px 0px; }
.content-title .texto ul.list-icon li.ico-build{ background: url(../img/ico-build.png) no-repeat 30px 0px; }
.content-title .texto ul.list-icon li.ico-safety{ background: url(../img/ico-safety.png) no-repeat 30px 0px; }
.content-title .texto ul.list-icon li.ico-checks{ background: url(../img/ico-checks.png) no-repeat 30px 0px; }
.content-title .texto ul.list-icon.titles li{ padding-bottom: 35px; padding-top: 10px; padding-left: 25%;} 
.content-title .texto ul.list-icon.titles li:last-child{ padding-bottom: 30px; }
.content-title .texto.padding10bottom{ padding-bottom: 12px; }


.create-playdate.itinerary.reserve .category{ color: #5b5b5b; font-size: 22px; }

.info-right { margin-bottom: 15px; }

.create-playdate .info-right p{ margin: 0px; font-size: 25px; color: #5b5b5b }
.featured-specialists{ margin-top:50px;}
.create-playdate .sidebar  .featured-specialists .puntuacion{ width: 100%; max-width: 100%; }
.sidebar .featured-specialists{ width: 100%; }
.featured-specialists .box-specialist{ margin-bottom: 30px; }
.featured-specialists .specialist{ cursor:pointer;}
.featured-specialists .specialist{ position: relative; z-index: 1;}
.featured-specialists .info{ position: absolute; padding: 20px; width: 100%;}
.featured-specialists .info p { margin: 0; color:#5b5b5b; font-weight: bold; text-align: left; }
.featured-specialists img{ width: 100%; }
.featured-specialists .titulo{  color: #ffffff; background: #815087; margin: 0px 85px; padding: 100px 200px 30px 200px;  margin-top:-70px; z-index: 0; } 
.featured-specialists h2{ font-size: 40px; font-weight: 700; text-align: center; color: #ffffff; z-index: 0; } 
.featured-specialists p{ text-align: center; }
.featured-specialists a.bt-titulo{ display: table; font-size: 18px;   padding: 10px 70px; margin: auto; color:#ffffff; border:2px solid #ffffff; transition:all 0.5s ease;text-decoration: none; }
.featured-specialists a.bt-titulo:hover, .featured-specialists a.bt-titulo:active, .featured-specialists a.bt-titulo:focus{ background:#ffffff;  transition:all 0.3s ease;text-decoration: none; color: #815087; box-shadow: none; }
.featured-specialists .puntuacion ul, .featured-specialists .puntuacion ul li{ list-style: none;margin: 0px; padding: 0px; }
.featured-specialists .puntuacion ul li{ width: 15px; height: 15px; border:2px solid #815087; float: left; margin-right: 5px; border-radius:50%;  }
.featured-specialists .puntuacion ul{ margin-top: 10px; }
.featured-specialists .puntuacion ul li.active{ width: 15px; height: 15px; background:#815087; border:2px solid #815087;}
.featured-specialists .puntuacion span{ float: left; margin-left: 15px; font-size: 17px; margin-top:-6px; color:#838383; }
.featured-specialists .specialist-info{ box-shadow: none;outline: none; border-radius: 0px; border:none; height: 100%;background:  }
.featured-specialists .info-back{ position: absolute; height: 100%;background: rgba(130, 80, 135, 0.85); color: #ffffff; width: 100%; }
.featured-specialists .info-back p{padding: 0px 20px; text-align: center; margin-top: 80px; font-size:18px; color: #ffffff; }
.featured-specialists .card{  border-radius: 0px; border: none;  }
.featured-specialists .face{ position: relative;}
.featured-specialists .bt-profile{  color: #ffffff; font-size:18px; display: table; background: transparent; margin: auto; border:1px solid  #ffffff; padding: 5px 20px; }
.featured-specialists .bt-profile:hover{ background: #ffffff; color: rgba(130, 80, 135, 1) ; text-decoration: none; }

.menu-footer, .menu-footer li{ list-style: none; margin: 0px; padding: 0px; width: 100%; }
.menu-footer{ margin-top: 30px; width: 100%; text-align: center; }
.menu-footer li{ display: inline; margin-right: 10px;   }
.menu-footer li a{ color: #ffffff; text-transform: uppercase; text-decoration: none; font-size: 16px; opacity: 1;transition:all .5s ease;} 
.menu-footer li a:hover{ opacity: 0.7; }
.contact-form .vtop{ padding: 0px }
#form_code{ text-align: center; }


.content-title .become-partner.texto p{ padding: 0px 50px; }
.become-partner .links{ max-height: 250px; overflow-y: scroll;  } 
.content-title .texto.become-partner  strong{ display: block; }
.content-title .texto .links ul li{ margin:20px 0px; }
.content-title .texto .links ul li a{ color: #5b5b5b;  font-weight: bold; }
.content-title .texto .links ul li a:hover,.content-title .texto .links ul li a:focus, .content-title .texto .links ul li a:active, .content-title .texto .links ul li a.selected{ color: #9a94cb; text-decoration: none; }
.content-title .texto .text{ position: absolute;color: #5b5b5b; display: none;   }
.content-title .texto .text:first-child{display: block;}
.contact-form .content-title .texto{ background: url(../img/bg-contact-form.jpg) no-repeat; background-size: cover;  }
.contact-form input[type="text"],.contact-form input[type="password"],.contact-form input[type="email"],.contact-form textarea,.contact-form input[type="submit"],.contact-form input[type="button"]{ background: transparent !important; border-radius: 0px !important; border:2px solid #ffffff !important; padding: 15px; text-align: left !important; width: 100% ; opacity: 1; color:#ffffff; }
.contact-form textarea{margin-top: 30px;}
.contact-form input[type="submit"],.contact-form input[type="button"]{ text-align: center !important; color:#ffffff;}


.contact-form .form-control::-webkit-input-placeholder{
  color: #ffffff;
  opacity: 1;
   text-align: left;
}
.contact-form { margin: 50px 0px; }
.contact-form form{ max-width: 90%; margin: auto; }

.contact-form .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
   text-align: left;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
   text-align: left;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
   text-align: left;
}

.contact-form .form-control::placeholder {
  color: #ffffff;
  opacity: 1;
   text-align: left;
}

.submit-itinerary .form-control::-webkit-input-placeholder, .create-playdate .form-control::-webkit-input-placeholder, .request-playdate .form-control::-webkit-input-placeholder, #last-playdate .form-control::-webkit-input-placeholder, .form-add-group input[type="text"]::-webkit-input-placeholder ,.form-create-group input[type="text"]::-webkit-input-placeholder{
  opacity: 1;
   text-align: left;
}
.submit-itinerary .form-control::-moz-placeholder, .create-playdate .form-control::-moz-placeholder, .request-playdate .form-control::-moz-placeholder, #last-playdate  .form-control::-moz-placeholder, .form-add-group input[type="text"]::-moz-placeholder ,.form-create-group input[type="text"]::-moz-placeholder {
  opacity: 1;
   text-align: left;
}
.submit-itinerary .form-control:-ms-input-placeholder,.create-playdate .form-control:-ms-input-placeholder,.request-playdate .form-control:-ms-input-placeholder,  #last-playdate .form-control:-ms-input-placeholder, .form-add-group input[type="text"]:-ms-input-placeholder ,.form-create-group input[type="text"]:-ms-input-placeholder {
  opacity: 1;
   text-align: left;
}

.submit-itinerary  .form-control::-ms-input-placeholder, .create-playdate  .form-control::-ms-input-placeholder, .request-playdate  .form-control::-ms-input-placeholder, #last-playdate  .form-control::-ms-input-placeholder, .form-add-group input[type="text"]::-ms-input-placeholder ,.form-create-group input[type="text"]::-ms-input-placeholder {
  opacity: 1;
   text-align: left;
}

.submit-itinerary  .form-control::placeholder, .create-playdate  .form-control::placeholder, .request-playdate  .form-control::placeholder, #last-playdate  .form-control::placeholder, .form-add-group input[type="text"]::placeholder ,.form-create-group input[type="text"]::placeholder {
  opacity: 1;
   text-align: left;
}
.request-playdate  .form-control, .create-playdate  .form-control, .submit-itinerary  .form-control{ text-align: left; }

.contact-form .form-control::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
   text-align: left;
}




.form-profile .form-control::-moz-placeholder {
  opacity: 1;
   text-align: left;
}

.form-profile .form-control:-ms-input-placeholder {
  opacity: 1;
   text-align: left;
}

.form-profile .form-control::-ms-input-placeholder {
  opacity: 1;
   text-align: left;
}


.form-profile .form-control::placeholder  {
  opacity: 1;
   text-align: left;
}

.form-invite-parent #inputInviteParents::-moz-placeholder {
  opacity: 1;
   text-align: center;
}

.form-invite-parent #inputInviteParents:-ms-input-placeholder {
  opacity: 1;
   text-align: center;
}

.form-invite-parent #inputInviteParents::-ms-input-placeholder {
  opacity: 1;
   text-align: center;
}

.form-invite-parent #inputInviteParents::placeholder {
  opacity: 1;
   text-align: center;
}
.form-invite-parent #inputInviteParents{ text-align: center; }

.form-profile .form-control::placeholder  {
  opacity: 1;
   text-align: left;
}

.contact-form .form-control#form_code::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
   text-align: center;
}

.contact-form .form-control#form_code:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
   text-align: center;
}

.contact-form .form-control#form_code::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
   text-align: center;
}

.contact-form .form-control#form_code::placeholder  {
  color: #ffffff;
  opacity: 1;
   text-align: center;
}
.contact-form .form-control#form_code{ text-align: center !important; }
input[type="submit"]:focus{ box-shadow: none; }


/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.become-partner .links::-webkit-scrollbar-track {
    background: #c7c7c7; 
}
 
/* Handle */
.become-partner .links::-webkit-scrollbar-thumb {
    background: #85558a; 
}

/* Handle on hover */
.become-partner .links::-webkit-scrollbar-thumb:hover {
    background: #85558a; 
}

.about-info .content-title .texto p{ color: #5b5b5b; font-size: 22px; }
.safety{ margin-top: 100px; }
.social, .stimulating{ margin-top: 50px; }
.safety .content-title .texto p{ color: #5b5b5b; font-size: 22px; text-align: center; }
.safety .content-title .texto .measures{ max-width: 60%; margin: auto; }
.safety .content-title .texto .measures p{ color: #815087; margin: 30px 0px;}
.safety .content-title .texto .measures li{ color: #5b5b5b; margin:10px 0px; }
.safety .titulo{  color: #ffffff; background: #815087; padding: 100px 200px 30px 200px;  margin-top:-70px; z-index: -1; position: relative; text-align: center; } 
.safety .titulo-container{ padding: 0px 15px 0px 15px; }
.safety .img-container img{ width: auto; }
.safety .ranges-container{ margin: 50px 0px;  }
.safety .ranges-container .baby-container{ text-align: left;  }
.safety .ranges-container .baby-container .img-container{ margin-bottom: 10px; } 
.safety .ranges-container .info{ margin-top: 30px; text-align: center;}
.safety .ranges-container .info .tit{ font-weight: bold; margin: 0; font-size: 24px; }
.safety .ranges-container .info .texto{ margin: 0; }
.txtAlignCenter{ text-align: center; }
.safety .titulo{ padding: 100px 20px 30px 20px; }

.calculator input[type="text"]{ color: #827286; border:none; border-bottom:2px solid #827286; background: transparent; font-weight: bold; font-size: 95px; max-width: 100%; letter-spacing: -5px; line-height: 20px; }
#youPay{ color: #815087 ; }
.content-title .texto.calculator{ padding: 0px 40px 50px 40px; }

.social .content-title .texto p{ color: #5b5b5b; font-size: 22px; text-align: center; font-weight: bold; }
.social .collage img{ width: 100% }
.social .collage .vcenter{padding: 0px;}
.social .collage .withBorder{ border-left: 20px solid #ffffff; border-right: 20px solid #ffffff;  }
.social .content-title .texto{ padding: 0px; }
.social .collage .vcenter{ border-bottom: 20px solid #ffffff; overflow: hidden;position: relative; }
.social .content-title .texto:last-child{ margin-top: 0px; }

.stimulating .content-title .texto p{ color: #5b5b5b; font-size: 22px; text-align: center; font-weight: bold; }
.stimulating .collage img{ width: 100% }
.stimulating .collage .vcenter{padding: 0px;}
.stimulating .collage .withBorder{ border-left: 20px solid #ffffff; border-right: 20px solid #ffffff;  }
.stimulating .content-title .texto{ padding: 0px; }
.stimulating .collage .vcenter{ border-bottom: 20px solid #ffffff; overflow: hidden;position: relative; }
.stimulating .content-title .texto:last-child{ margin-top: 0px; }

.intro-row{ margin: 50px 0px; }
.intro-row .texto{ color: #827286; }
.intro-row .texto h2{ font-size: 80px; text-transform: uppercase; }
.intro-row .imagen img{width: 100%; }

.featured-playdates.mission{ margin-top: 50px;  }
.featured-playdates.mission .titulo p{ max-width: 85%; margin: auto; display: table; text-align: center; margin: 40px auto; }
.featured-playdates.mission .cat-mision{ position: absolute; text-transform: uppercase; color: #ffffff; width: 100%; text-align: center; top:50%; left: 50%; transform:translate(-50%,-50%);font-weight: bold; font-size: 40px; }
.featured-playdates.mission .box-playdates{ border:none; padding-bottom: 0px; max-height: 340px; }

.affordability{ margin-top: 50px; }
.affordability .content-title .texto p{ color: #5b5b5b; font-size: 22px; }
.affordability .content-title .texto label{ color: #5b5b5b; font-size: 22px; text-align: center; width: 100%; font-weight: bold; padding-top:20px; }
.affordability .content-title .texto .legal p{ padding-top: 20px; text-align: right; font-size: 20px; }

.featured-playdates.requirements .box-playdates{ background: #f6f6f6; text-align: center; min-height: 400px; border-bottom: 0px; padding: 80px 50px 0px 50px;}
.featured-playdates.requirements .box-playdates img{ width: auto; }
.featured-playdates.requirements .box-playdates p{font-weight: bold; color: #5b5b5b; margin-bottom: 0px; }
.featured-playdates.requirements{ margin-top: 50px;  }
.featured-playdates.requirements .titulo p{ max-width: 85%; margin: auto; display: table; text-align: center; margin: 40px auto; }

.featured-playdates.dashboard  .row{ width: 100%; }
.featured-playdates.dashboard .box-playdates{ background: #f6f6f6; text-align: center; min-height: 300px; border-bottom: 0px; padding: 80px 50px 0px 50px;}
.featured-playdates.dashboard .box-playdates img{ width: auto; }
.featured-playdates.dashboard .box-playdates p{font-weight: bold; color: #5b5b5b; margin-bottom: 0px; }
.featured-playdates.dashboard{ margin-top: 50px;  }
.featured-playdates.dashboard .titulo p{ max-width: 85%; margin: auto; display: table; text-align: center; margin: 40px auto; }

.featured-playdates.requirements .box-playdates:hover,.featured-playdates.requirements .box-playdates:active,.featured-playdates.requirements .box-playdates:focus,.featured-playdates.dashboard .box-playdates:hover,.featured-playdates.dashboard .box-playdates:active,.featured-playdates.dashboard .box-playdates:focus{ text-decoration: none; }

.body{ color: #5b5b5b }
.contact-form.apply{ margin-top: 50px; }
.contact-form.parent{ margin-top: 0px; }
.contact-form.apply .content-title .texto{ background: url(../img/bg-contact-form-apply.jpg) no-repeat; background-size: cover;  }
.contact-form.apply .legal,.contact-form.parent .legal{ text-align: right; font-size: 20px; color: #ffffff; margin-top: 30px; }
.contact-form.parent .content-title .texto{ background: url(../img/bg-contact-form-parent.jpg) no-repeat; background-size: cover;  }

.contact-form.parent input[type="checkbox"]{-webkit-appearance: none;-moz-appearance: none;appearance: none; border:2px solid #ffffff; border-radius: 0px;  background: transparent; transition: all 0.5s ease; display: inline-block; width: 20px;height: 20px; float: left; margin:10px 0px;  }
.contact-form.parent input[type="checkbox"]:checked { -webkit-appearance: none;-moz-appearance: none;appearance: none;border:2px solid #815087 ; display: inline-block; width: 20px;height: 20px; border-radius: 0px;  background: #815087; transition: all 0.5s ease; float: left; }
.contact-form.parent input[type="checkbox"] + label{color:  #ffffff; float: left; margin-top: 5px;margin-left: 15px;    }
.contact-form.parent input[type="checkbox"]:checked + label{ font-weight: bold; }

.requirements .legal{ margin: 0px; text-align: right; margin: 0; }
.become-partner-container{ margin-top: 50px; }

.featured-playdates.get-playpacks  .row{ width: 100%; }
.featured-playdates.get-playpacks .titulo{ width: 100%; margin: 0;  padding: 30px 0px; }
.featured-playdates.get-playpacks .box-playdates{ background: #f6f6f6; text-align: center; min-height: 300px; border-bottom: 0px; padding: 80px 50px 0px 50px;margin-top:50px; text-decoration: none;}
.featured-playdates.get-playpacks .box-playdates img{ width: auto; }
.featured-playdates.get-playpacks .box-playdates p{color: #5b5b5b; margin: 20px 0px; font-size: 40px; }
.featured-playdates.get-playpacks .box-playdates .reserve{ margin-bottom: 50px; }
.featured-playdates.get-playpacks{ margin-top: 50px;  }
.featured-playdates.get-playpacks .titulo p{ max-width: 85%; margin: auto; display: table; text-align: center; margin: 40px auto; }
.featured-playdates.get-playpacks h2{ font-size: 80px; }
.featured-playdates.get-playpacks .box-playdates:hover, .featured-playdates.get-playpacks .box-playdates:focus,.featured-playdates.get-playpacks .box-playdates:active{text-decoration: none;}
.featured-playdates.get-playpacks .titulo p{ margin: auto; }

.my-dashboard .box-playdates .time{ margin-top: 30px; }
.my-dashboard.sidebar  .data p.titulo{ font-weight: bold; border-bottom:1px solid #bbbbbb; font-size: 30px; color:#5b5b5b; margin-bottom: 20px;  }
.my-dashboard.sidebar .data .children{ margin: 20px 0px; }
.my-dashboard.sidebar  .data .children:last-child{ margin-bottom: 0px; }
.my-dashboard.sidebar .data .children .name{ padding-left: 30px;  }
.my-dashboard.sidebar  .data .day{min-width: 70px; display: inline-block; padding: 3px 0px;}
.my-dashboard .data.playdate-near .titulo{ text-transform: uppercase; }
.my-dashboard .data.playdate-near .info-near{ margin:30px 0px; }
.my-dashboard .data.playdate-near .info-near a{ text-transform: uppercase; color:#5b5b5b; font-size: 25px; font-weight: bold} 
.my-dashboard .data.playdate-near .info-near a:hover,.my-dashboard .data.playdate-near .info-near a:active,.my-dashboard .data.playdate-near .info-near a:focus{color:#5b5b5b }
.my-dashboard .data.playdate-near .info-near .day, .my-dashboard .data.playdate-near .info-near p{ padding: 0px; margin: 0px; min-width: 0px;}
.all-playdates .box-playdates.no-text{ padding-bottom: 0px; margin-top: 20px; }

.playpack-price{ text-align: center; color: #5b5b5b; }
.playpack-price .price{ font-size: 70px; font-weight: bold; }
.playpack-price .texto{ margin-top: -10px; }

.specialist-dashboard .sidebar  .data p.titulo{ font-weight: bold; border-bottom:1px solid #bbbbbb; font-size: 30px; color:#5b5b5b; margin-bottom: 20px;  }
.specialist-dashboard .sidebar .data .children{ margin: 20px 0px; }
.specialist-dashboard .sidebar  .data .children:last-child{ margin-bottom: 0px; }
.specialist-dashboard .sidebar .data .children .name{ padding-left: 30px;  }
.specialist-dashboard .sidebar  .data .day{min-width: 70px; display: inline-block; padding: 3px 0px;}

.row-current-dashboard{ margin-top: 50px; border-top:1px solid #bbbbbb; padding-top: 50px;}
.row-current-dashboard .data .place{ margin-top: 20px;  }
.row-current-dashboard .place .address, .row-current-dashboard .place .city{ display: block; }

.info-current-dashboard .time .date{ float: left;  font-size: 18px; color:#838383; }
.info-current-dashboard .time .hour{ float: right;  font-size: 18px; color:#838383; }
.info-current-dashboard .info .title{ font-size: 25px; color: #5b5b5b; font-weight: bold; float: left; width: 100%; text-transform: capitalize; }
.info-current-dashboard .info .subtitle{ font-size: 19px; color: #838383;  float: left; width: 100%; }
.info-current-dashboard div.data{ font-size: 19px; color: #838383;  float: left; width: 100%; margin-bottom: 20px; }
.info-current-dashboard .bt-reserve{ display: table; font-size: 18px;   padding: 10px 70px; margin: auto; color:#838383; border:2px solid #838383; transition:all 0.5s ease;text-decoration: none;}
.info-current-dashboard .bt-reserve:hover{ text-decoration: none; background: #838383; color: #ffffff }
.info-current-dashboard .data p{ margin: 0px;  }
.form-invite button{ margin-top: 15px; padding: 5px;  }
.form-invite input{ margin-top: 0px; }

.row-dashboard{ margin-top: 0px; margin-bottom: 40px; }
.row-dashboard .titulo{ font-size: 28px; font-weight: bold; border-bottom:1px solid #bbbbbb; color: #5b5b5b; } 
.row-dashboard  .specialist-tag, .row-specialist  .specialist-tag{ width: auto; margin-right: 40px; }
.row-dashboard .titulo.uppercase{ text-transform: uppercase; margin: 30px 0px 50px 0px; }
.row-dashboard a{ color: #5b5b5b; margin-bottom: 15px; display: block; }
.row-dashboard a:hover,.row-dashboard a:focus,.row-dashboard a:active{ color:#5b5b5b; }
.updates .date{ font-weight: bold; color: #5b5b5b; }
.updates span{display: block; padding-left: 15px;}
.updates p{ margin-top: 0px; }
.updates  .info-updates{ margin-bottom: 20px; }
.updates img{ margin: 0px 20px 30px 0px; }
.updates img.img-member{ margin: 0px; }

footer hr{ background: #ffffff; margin:50px 0px 0px 0px; }
footer .legal{ color:#ffffff; padding-top: 30px;  }
footer .legal a{ color: #ffffff; opacity: 1; transition: all .5s ease; }
footer .legal a:hover{  opacity: 0.7;  }
footer .legal ul, footer .legal ul li{ margin: 0px; padding: 0px; list-style: none; font-size: 14px; }
footer .legal ul li{ display: inline; margin-right: 10px; }
footer .legal .redes{ text-align: right; font-size: 20px; margin-top:-10px; }
footer .legal .redes a{ border:1px solid #ffffff; padding: 10px; border-radius: 50%; display: inline-block;height: 50px; width: 50px; text-align: center; line-height: 28px; font-size: 20px;}

footer{ background: #353535; margin-top: 50px; padding:50px 0px 15px 0px; }
.logo-footer{ display: table;margin:auto; }
.form-control::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 1;
  text-align: center;
}

.form-control::-moz-placeholder {
  color: #aaaaaa;
  opacity: 1;
   text-align: center;
}

.form-control:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 1;
   text-align: center;
}

.form-control::-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 1;
   text-align: center;
}

.form-control::placeholder {
  color: #aaaaaa;
  opacity: 1;
   text-align: center;
}
.form-control:focus{ box-shadow: none; border:2px solid #878787;  }

.calculator input::-webkit-input-placeholder {
  color: #827286;
  opacity: 1;
  text-align: center;
}

.calculator input::-moz-placeholder {
  color: #827286;
  opacity: 1;
   text-align: center;
}

.calculator input:-ms-input-placeholder {
  color: #827286;
  opacity: 1;
   text-align: center;
}

.calculator input::-ms-input-placeholder {
  color: #827286;
  opacity: 1;
   text-align: center;
}

.calculator input::placeholder {
  color: #827286;
  opacity: 1;
   text-align: center;
}

select.form-control{ border:2px solid #878787; border-radius: 0px;}
#login .modal-dialog{ max-width: 900px; }
#login .modal-content{ padding-left: 250px; background: url(../img/home-bg.jpg) no-repeat top center; border-radius: 0px; border:none; background-size:cover;}
#login .modal-header, .modal-body{ background: #ffffff; border-radius: 0px;border:none; }
#login .modal-body{ padding: 50px 100px;  }
#login .form-signin-heading{ text-align: center; color: #5b5b5b; text-transform: uppercase; font-weight: 600; font-size: 30px;  }
input{ text-align: center; margin-top: 30px;}
input[type="text"], input[type="password"]{ border:2px solid #878787; border-radius: 0px; color: #aaaaaa; }
.form-signin .forgot{ display:block; margin: 5px 0px 30px 0px;  text-align: center; font-size: 18px; color: #aaaaaa;}
button[type="submit"], button[type="button"], input[type="submit"]{border:2px solid #815087; border-radius: 0px; color: #815087; background: #ffffff; transition: all 0.5s ease; text-transform: none; font-size: 18px; font-weight: normal;box-shadow:none;}
button[type="button"]:hover, button[type="button"]:active,button[type="button"]:focus, button[type="submit"]:hover,button[type="submit"]:focus,button[type="submit"]:active,input[type="submit"]:hover,input[type="submit"]:focus,input[type="submit"]:active{border:2px solid #815087 !important;  color: #ffffff; background: #815087 !important; outline: none; box-shadow: none; }
input[type="checkbox"]{-webkit-appearance: none;-moz-appearance: none;appearance: none; border:2px solid #878787; border-radius: 0px;  background: #ffffff; transition: all 0.5s ease; display: inline-block; width: 20px;height: 20px; float: left; margin:10px 0px;  }
.modal-header .close:hover,.modal-header .close:active,.modal-header .close:focus{ border: 0px !important; }

input[type="checkbox"]:checked { -webkit-appearance: none;-moz-appearance: none;appearance: none;border:2px solid #815087 ; display: inline-block; width: 20px;height: 20px; border-radius: 0px;  background: #815087; transition: all 0.5s ease; float: left; }
input[type="checkbox"] + label{color:  #878787; float: left; margin-top: 5px;margin-left: 15px;text-transform: none;  font-weight: normal; font-size: 20px;  text-align: left; margin-bottom: 0px;  padding-bottom: 0px;  border: none;}
input[type="checkbox"]:checked + label{ font-weight: bold; }
.row-child .list-container input[type="checkbox"] + label{ width: auto; max-width: 181px; }
.age-sidebar{ margin-top: 20px; }
.form-signin .request{ margin: 30px 0px 30px 0px;  text-align: center; font-size: 18px; color: #aaaaaa;}
.form-signin .request a{ color: #815087; text-decoration: none; opacity: 1; transition: all 0.5s ease; }
.form-signin .request a:hover{ text-decoration: underline;color: #815087; opacity: 0.8; }
.multi-collapse.collapse.show,.multi-collapse.collapse{transition: all 0.5s ease; }
.row-child, .row-emergency{ border-bottom: 1px solid #dddddd; padding-bottom: 50px; }
button[type="submit"].bt-add-item{ display: table; margin: auto; padding: 5px 50px; border:2px solid #878787; color: #878787; }
button[type="submit"].bt-add-item:hover{ background: #878787 !important; color: #ffffff !important; border:2px solid #878787 !important;  }

.container-tags{ margin-top: 20px;  }
.tag{ color: #ffffff; background:  #815087; border-radius: 30px; padding: 5px 20px; display: inline-block; margin-top: 10px;  }
.tag a{ color: #ffffff; margin-left: 10px; }
.tag a:hover{ text-decoration: none; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ border: 1px solid #9a94cb;    background: #9a94cb;    color: #ffffff; }

.sidebar .form-group,.list-container .form-group{ float: left; width: 100%; margin: 0px; }
.form-profile .list-container .form-control{ margin:0px; margin-top: 10px; }



.simple-page header.masthead{ min-height: 300px; }
.simple-page header.masthead .site-heading{ position: relative; text-align: center; font-size: 60px; width: 100%; padding-top: 200px; bottom: 0px; }

.simple-page header.masthead .page-heading h1,.simple-page  header.masthead .site-heading h1{ font-size: 60px; }
.ui-datepicker-calendar a{ text-align: center !important; }
.all-playdates .box-playdates,.help-center .box-playdates{ margin-top: 0px; }
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{ box-shadow: none; }

.sidebar .bt-container{ padding-right: 10px;  padding-left: 5px;}
.bt-help-type{ background: #815087; color: #ffffff; text-align: center; padding: 30px; display: block;  opacity:1; transition: all 1s ease; min-height: 150px; }
.bt-help-type span{ display: block; margin-top: 10px; text-decoration: none;}
.bt-help-type:hover,.bt-help-type:active, .bt-help-type:focus, .bt-help-type:visited{ text-decoration: none; color:#ffffff; opacity:0.8; transition: all 1s ease; } 

.btn.btn-primary.bt-sidebar{ width: 100%; background: #ffffff; color:#5b5b5b ; border:none; border-bottom:1px solid #bbbbbb; text-align: left; text-decoration: none; padding-left: 0px; font-size:25px; position: relative; }
.btn.btn-primary.bt-sidebar:hover,.btn.btn-primary.bt-sidebar:active,.btn.btn-primary.bt-sidebar:focus{ background: #ffffff !important; color:#5b5b5b  !important; border-bottom:1px solid #bbbbbb !important; outline: none; box-shadow: none;  } 
.btn.btn-primary.bt-sidebar:after{ content: ""; background: url(../img/fle-accordion.png) no-repeat center; width: 29px; height: 29px; position: absolute; bottom: 20px; right: 0px; transform: rotate(-90deg); transition: all 0.5s ease; }
.btn.btn-primary.bt-sidebar.open:after{ content: ""; background: url(../img/fle-accordion.png) no-repeat center; width: 29px; height: 29px; position: absolute; bottom: 20px; right: 0px; transform: rotate(0deg); transition: all 0.5s ease; }

.close:focus, .close:hover,.close:focus, .close:active{box-shadow: none; outline: none;}
.modal-header .close{ font-size: 60px; font-weight: 100; padding: 0px 10px;  }

.sidebar input{ text-align: left;}
.sidebar .row{ margin-bottom: 30px; }

.help-center .sidebar .row{ margin-bottom: 15px; }


#date-container .input-group, #date-container span { float: left;  flex: none; }
#date-container .input-group{ width: 45%; }
#date-container span{ width: 10%; text-align: center; margin-top: 33px; }

.request-playdate .date-range .input-group, .request-playdate .date-range span { float: left;  flex: none; margin-top: 0px; }
.request-playdate .input-group input{ margin-top:0px;  }
.request-playdate  .date-range .input-group{ width: 45%; }
.request-playdate.full-day  .date-range .input-group{ width: 100%; }
.request-playdate .date-range span{ width: 10%; text-align: center; margin-top: 3px; }
.request-playdate.full-day #time-container-profile .input-group{ width: 45%; }

.create-playdate .date-range .input-group, .request-playdate .date-range span { float: left;  flex: none; margin-top: 0px; }
.create-playdate .input-group input{ margin-top:0px;  }
.create-playdate.full-day  .date-range .input-group{ width: 100%; }
.create-playdate .date-range span{ width: 10%; text-align: center; margin-top: 3px; }
.create-playdate #time-container-profile .input-group, .create-playdate #age-container-profile .input-group{ width: 45%; }

.submit-itinerary .date-range .input-group, .request-playdate .date-range span { float: left;  flex: none; margin-top: 0px; }
.submit-itinerary .input-group input{ margin-top:0px;  }
.submit-itinerary.full-day  .date-range .input-group{ width: 100%; }
.submit-itinerary .date-range span{ width: 10%; text-align: center; margin-top: 3px; }
.submit-itinerary #time-container-profile .input-group, .submit-itinerary #age-container-profile .input-group{ width: 45%; }

.datepicker { padding-left: 43px; padding-right: 5px; text-align: center !important; background: url(../img/ico-calendar.png) no-repeat 5px center #ffffff; color: #aaaaaa; }
.datepicker.filled, .datepicker.form-control[readonly] { background: url(../img/ico-calendar-filled.png) no-repeat 5px center #ffffff;text-align: center; color: #878787}

.form-control:disabled, .form-control[readonly]{ background-color: #ffffff; border:none !important; }

#time-container .input-group, #time-container span { float: left;  flex: none; }
#time-container .input-group{ width: 45%; }
#time-container span{ width: 10%; text-align: center; margin-top: 33px; }
.input-time { padding-left: 43px; padding-right: 5px; text-align: center !important; background: url(../img/ico-time.png) no-repeat 5px center #ffffff; color: #aaaaaa; }
.input-time.filled,  .input-time.form-control[readonly] { background: url(../img/ico-time-filled.png) no-repeat 5px center #ffffff;text-align: center; color: #878787}

.input-age { padding-left: 43px; padding-right: 5px; text-align: center !important; background: url(../img/ico-age.png) no-repeat 5px center; color: #aaaaaa; }
.input-age.filled { background: url(../img/ico-age-filled.png) no-repeat 5px center;text-align: center; color: #878787}

#budget-container .input-group, #budget-container span { float: left;  flex: none; }
#budget-container .input-group{ width: 45%; }
#budget-container span{ width: 10%; text-align: center; margin-top: 33px; }


.request-playdate.full-day #budget-container .input-group, .request-playdate.full-day  #budget-container span { float: left;  flex: none; }
.request-playdate.full-day #budget-container .input-group{ width: 45%; }
.request-playdate.full-day #budget-container span{ width: 10%; text-align: center; margin-top: 3px; }
.request-playdate.full-day .btnSubmit .form-group, .request-playdate.full-day .btnSubmit button[type="submit"]{ max-width: 400px; display: table;margin: auto; }
.request-playdate.full-day .btnSubmit .form-group input[type="checkbox"]{ border-color: #815087; }
.request-playdate.full-day .btnSubmit .form-group input[type="checkbox"] + label{ color: #815087; margin-bottom: 30px; }

.input-budget { padding-left: 43px; padding-right: 5px; text-align: center !important; background: url(../img/ico-price.png) no-repeat 5px center; color: #aaaaaa; }
.input-budget.filled { background: url(../img/ico-price-filled.png) no-repeat 5px center;text-align: center; color: #878787}

.form-control#inputSearch::-webkit-input-placeholder,.form-control#inputLocation::-webkit-input-placeholder,.form-control#inputSpecialists::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 1;
  text-align: left;
}

.form-control#inputSearch::-moz-placeholder,.form-control#inputLocation::-moz-placeholder,.form-control#inputSpecialists::-moz-placeholder {
  color: #aaaaaa;
  opacity: 1;
   text-align: left;
}

.form-control#inputSearch:-ms-input-placeholder ,.form-control#inputLocation:-ms-input-placeholder,.form-control#inputSpecialists:-ms-input-placeholder{
  color: #aaaaaa;
  opacity: 1;
   text-align: left;
}

.form-control#inputSearch::-ms-input-placeholder,.form-control#inputLocation::-ms-input-placeholder,.form-control#inputSpecialists::-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 1;
   text-align: left;
}

.form-control#inputSearch::placeholder,.form-control#inputLocation::placeholder,.form-control#inputSpecialists::placeholder  {
  color: #aaaaaa;
  opacity: 1;
   text-align: left;
}

.selectdiv {
  position: relative;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: ""; background: url(../img/fle-accordion.png) no-repeat center; width: 29px; height: 29px; position: absolute; bottom: 13px; right: 10px;  transition: all 0.5s ease; 
}
.selectdiv label{ width: 100%; }
.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}


.selectGenre{ border:2px solid #878787; z-index: 99; padding: 5px 10px; margin-top: 45px; height: 67px; position: relative; }
.selectGenre a{ width: 90%; position: absolute; display: none; background: #ffffff; }
.selectGenre.opened a{ top:76px; display: block; }
.selectGenre a.selected{ top:9px; display: block; }
.selectGenre:after{content: ""; background: url(../img/fle-accordion.png) no-repeat center;  width: 29px;  height: 29px; position: absolute;  bottom: 13px; right: 10px; transition: all 0.5s ease;}
#importantToKnow{ margin-top: 0px; }

.request-access-row{ margin-top: 50px; }
.form-group a.bt-request-access{background: transparent !important;  border-radius: 0px !important;  border: 2px solid #ffffff !important; padding: 15px; display: block;  text-align: center !important;  width: 100%;  opacity: 1;  color: #ffffff !important;}
.form-group a.bt-request-access:hover{ text-decoration:none;border: 2px solid #815087 !important;     color: #ffffff;   background: #815087 !important;outline: none;}

.categories-sidebar,.care-sidebar,.spots-sidebar{ margin-top: 20px; }
.list-container{ border-left: 15px solid transparent; padding-left: 20px; margin: 10px 0px; float: left; width: 100%; }
.form-group a,.form-group a:hover{color: #838383;}

.specialist-tags{ margin-top: 20px; }
.specialist-tag{  padding: 5px 15px; display: inline-block; margin-top: 10px; color: #878787; width: 100%;  }
.specialist-tag a{ color: #878787; margin-left: 10px; }
.specialist-tag a:hover{ text-decoration: none; }
.specialist-tag img{ max-height: 80px; }


#accordion button{ width: 100%; text-align: left; font-size: 22px; padding-left: 0px; position: relative; display: block; border-bottom: 2px solid #c7c7c7; font-weight: bold; color: #5b5b5b; text-transform: none; padding-top: 0px; white-space: normal;   }
#accordion button:after{ content: ""; background: url(../img/fle-help-center-h.png) no-repeat center; width: 29px; height: 29px; position: absolute; bottom: 20px; right: 0px; transform:  transition: all 0.5s ease; }
#accordion button[aria-expanded="true"]{ color:#815087}
#accordion button[aria-expanded="true"]:after{ content: ""; background: url(../img/fle-help-center.png) no-repeat center; width: 29px; height: 29px; position: absolute; bottom: 20px; right: 0px; transform: rotate(0deg); transition: all 0.5s ease; }
#accordion button:hover,#accordion button:active,#accordion button:focus{ text-decoration: none; }
#accordion .card{border:none; }
#accordion .card-header{ border-radius: 0px; border:none; background: transparent; }
#accordion .card-body p{ margin: 15px 0px; padding-left: 20px; }


.sidebar .box-playdates .title{ text-transform: uppercase; margin-bottom: 15px; }
.sidebar .box-playdates{ min-height: 700px; }
.sidebar .box-playdates img.notSelected{ opacity: 0.5; }

.specialist-dashboard .sidebar .box-playdates .title{ text-transform: uppercase; margin-bottom: 0px; text-align: center; }
.specialist-dashboard .sidebar .box-playdates div{ text-align: center; }
.specialist-dashboard .sidebar .box-playdates{ min-height: 0px; }
.specialist-dashboard .sidebar .box-playdates img.notSelected{ opacity: 0.5; }
.specialist-dashboard .sidebar .box-playdates div.data{ margin-top:20px; }

.create-playdate .sidebar .box-playdates .title{ text-transform: uppercase; margin-bottom: 0px; text-align: center; }
.create-playdate .sidebar .box-playdates div{ text-align: center; }
.create-playdate .sidebar .box-playdates p{ text-align: left; }
.create-playdate .sidebar .box-playdates a.bt-profile, .create-playdate .sidebar .box-playdates a.bt-profile:hover{ text-align: left; margin-top: 30px; color: #815087; display: block; }
.create-playdate .sidebar .box-playdates{ min-height: 0px; }
.create-playdate .sidebar .box-playdates img.notSelected{ opacity: 0.5; }
.create-playdate .sidebar .box-playdates div.data{ margin-top:20px; }
.create-playdate   .sidebar .puntuacion{ float: none; margin: auto; max-width: 175px; display: table; }
.create-playdate   .puntuacion ul, .featured-specialists .puntuacion ul li{ list-style: none;margin: 0px; padding: 0px; }
.create-playdate   .puntuacion ul li{ width: 15px; height: 15px; border:2px solid #815087; float: left; margin-right: 5px; border-radius:50%;  }
.create-playdate   .puntuacion ul{ margin-top: 10px; }
.create-playdate   .puntuacion ul li.active{ width: 15px; height: 15px; background:#815087; border:2px solid #815087;}
.create-playdate  .puntuacion span{ float: left; margin-left: 15px; font-size: 17px; margin-top:-6px; color:#838383; }

.submit-itinerary .sidebar .box-playdates .title{ text-transform: uppercase; margin-bottom: 0px; text-align: left; }
.submit-itinerary .sidebar .box-playdates div{ text-align: left; }
.submit-itinerary .sidebar .box-playdates p{ text-align: left; }
.submit-itinerary .sidebar .box-playdates a.bt-profile, .submit-itinerary .sidebar .box-playdates a.bt-profile:hover{ text-align: left; margin-top: 30px; color: #815087; display: block; }
.submit-itinerary .sidebar .box-playdates{ min-height: 0px; padding-bottom: 0px; border-bottom:0px; }
.submit-itinerary .sidebar .box-playdates img.notSelected{ opacity: 0.5; }
.submit-itinerary .sidebar .box-playdates div.data{ margin-top:20px; }
.submit-itinerary   .sidebar .puntuacion{ float: none; margin: auto; max-width: 175px; display: table; }
.submit-itinerary   .puntuacion ul, .featured-specialists .puntuacion ul li{ list-style: none;margin: 0px; padding: 0px; }
.submit-itinerary   .puntuacion ul li{ width: 15px; height: 15px; border:2px solid #815087; float: left; margin-right: 5px; border-radius:50%;  }
.submit-itinerary   .puntuacion ul{ margin-top: 10px; }
.submit-itinerary   .puntuacion ul li.active{ width: 15px; height: 15px; background:#815087; border:2px solid #815087;}
.submit-itinerary  .puntuacion span{ float: left; margin-left: 15px; font-size: 17px; margin-top:-6px; color:#838383; }

.specialist-dashboard  .sidebar .puntuacion{ float: none; margin: auto; max-width: 175px; display: table; }
.specialist-dashboard  .puntuacion ul, .featured-specialists .puntuacion ul li{ list-style: none;margin: 0px; padding: 0px; }
.specialist-dashboard  .puntuacion ul li{ width: 15px; height: 15px; border:2px solid #815087; float: left; margin-right: 5px; border-radius:50%;  }
.specialist-dashboard  .puntuacion ul{ margin-top: 10px; }
.specialist-dashboard  .puntuacion ul li.active{ width: 15px; height: 15px; background:#815087; border:2px solid #815087;}
.specialist-dashboard .puntuacion span{ float: left; margin-left: 15px; font-size: 17px; margin-top:-6px; color:#838383; }

.specialist-dashboard .bt-upload-update{border: 2px solid #815087;  border-radius: 0px; color: #815087;    background: #ffffff;    transition: all 0.5s ease;    text-transform: none;    font-size: 18px;    font-weight: normal;    box-shadow: none; padding: 5px 0px; text-align: center; margin: -50px 0px 50px 0px; width: 100%; margin: auto; display: table; max-width: 350px;}
.specialist-dashboard .bt-upload-update:hover{color: #ffffff;    background: #815087;       box-shadow: none; text-decoration: none;}


.row-tabs,.itinerary-modal .row.row-tabs{ margin-top: 50px; }
.itinerary-modal .row.row-tabs input{ margin-top: 0px; }
.itinerary-modal .row.row-tabs p{width: 100%; text-align: center; margin: 0px;}
.itinerary-modal .row.row-tabs p.ppal-date{ font-weight: bold; font-size: 22px; }
.row-profile{ margin-top: 70px; }
.nav-tabs{ border-bottom:2px solid #bbbbbb; color: #5b5b5b; }
.nav-tabs .nav-link, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:active, .nav-tabs .nav-link:focus{ border-radius:0px; border:none; color: #5b5b5b;   }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{ position: relative; border:none !important; font-weight: 900; }
.nav-tabs .nav-item.show .nav-link:after, .nav-tabs .nav-link.active:after{ position: absolute; content: ""; height: 5px; background:#825087; width: 100%; left: 0px; bottom:-3px;    }

.box-member img{ border:1px solid #cdcdcd; width: 100%;  }
.box-member p{ text-align: center; font-weight: bold; color: #5b5b5b; text-transform: uppercase; margin-top:15px; text-decoration: none; }
.box-member:hover, .box-member:active, .box-member:focus, .box-member:visited{ text-decoration: none; color: #5b5b5b; }

.bt-save-profile{ float: right; max-width: 400px; padding: 5px; width: 100%;}
.bt-save-profile.last{max-width: 100%; float: none;}
.info-box .titulo{  color: #ffffff; background: #815087; padding: 50px 100px;  margin-top:50px; z-index: 0; } 
.info-box h2{ font-size: 40px; font-weight: 700; text-align: center; color: #ffffff; z-index: 0; } 
.info-box p{ text-align: center; }
.info-box button[type="submit"].bt-titulo{ display: table; font-size: 1rem;   padding: 10px 20px; margin: auto; color:#ffffff; border:2px solid #ffffff; transition:all 0.5s ease;text-decoration: none; background: transparent; min-width: 400px; text-align: center; }
.info-box button[type="submit"].bt-titulo:hover, .info-box button[type="submit"].bt-titulo:active, .info-box button[type="submit"].bt-titulo:focus { background:#ffffff !important;  transition:all 0.3s ease;text-decoration: none; color: #815087 !important; box-shadow: none; }
.form-nominate input[type="text"],.form-add-group input[type="text"],.form-create-group input[type="text"]{ max-width: 400px; margin:30px auto; border:2px solid #ffffff; }
.row-zip-code .container-tags{ margin:-10px 0px 40px 15px; }

#time-container-profile .input-group, #time-container-profile span { float: left;  flex: none; }
#time-container-profile .input-group{ width: 35%; }
#time-container-profile span{ width: 15%; text-align: center; margin-top:5px; }
#time-container-profile span:last-of-type{ width: 10%; }
#date-container-profile .input-group, #date-container-profile span { float: left;  flex: none; }
#date-container-profile .input-group{ width: 40%; }
#date-container-profile span{ width: 15%; text-align: center; margin-top:5px; }
#date-container-profile  .input-group>.form-control { width: 100% }
#date-container-profile input{ margin-top: 0px; }
#age-container-profile .input-group, #age-container-profile span { float: left;  flex: none; }
#age-container-profile .input-group{ width: 35%; }
#age-container-profile span{ width: 15%; text-align: center; margin-top:5px; }
#age-container-profile span:last-of-type{ width: 10%; }

#playpack-history_wrapper .row, #playpack-credit_wrapper .row{ width: 100%; }

.sorting_desc, .sorting_asc{ position: relative; }
.sorting_asc:after{ content: ""; background: url(../img/fle-accordion.png) no-repeat center; width: 29px; height: 29px; position: absolute; bottom: 12px; right: 5px; transform: rotate(-90deg); transition: all 0.5s ease; transform: rotate(0deg); }
.sorting_desc:after{ content: ""; background: url(../img/fle-accordion.png) no-repeat center; width: 29px; height: 29px; position: absolute; bottom: 12px; right: 5px; transform: rotate(-90deg); transition: all 0.5s ease; transform: rotate(180deg); }


.form-profile .form-control{ text-align: left; margin-top: 20px; margin-bottom: 40px;}
.form-profile label, .form-profile p.titulo, #nav-playpacks p.titulo{ font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #bbbbbb; color: #5b5b5b; width: 100%; padding-bottom: 10px; font-size: 28px; margin:0px; margin-bottom: 30px;  }
.form-profile .img-profile{ position: absolute; width: 92%; left: 50%; top: 0px; transform: translateX(-50%);  }
label.custom-file{ position: absolute; color: #ffffff; border: 1px solid #ffffff; bottom: 20px; margin-bottom: 0px; max-width: 80%; font-size: 20px; transform: translateX(-50%); left: 50%; }
label.custom-file:after{ position: absolute; content: "Edit Photo"; left: 50%; top: 3px; transform: translateX(-50%); width: 100%; text-align: center;   }
button[type="submit"].bt-add-admin{ display: table; font-size: 18px;   padding:.375rem .75rem; text-align: center; font-size: 1rem; margin: auto; color:#838383; border:2px solid #838383; transition:all 0.5s ease;text-decoration: none; margin:20px 0px 40px 0px;}
button[type="submit"].bt-add-admin:hover, button[type="submit"].bt-add-admin:active, button[type="submit"].bt-add-admin:focus, button[type="submit"].bt-add-admin:visited{ text-decoration: none; border: 2px solid  #838383 !important;  background: #838383 !important; color: #ffffff; outline: none; box-shadow: none;  }
#inputUsername{ text-align: center; }
.form-profile textarea, .request-playdate textarea, .create-playdate textarea, .submit-playdate textarea{ border-radius: 0px; border:2px solid #878787;  }
.form-profile .specialist-tag{ width: auto; margin-right: 40px; }
.form-profile .info{color: #5b5b5b; margin:10px 0px;}
.form-profile .profile-password  a{ color: #815087; text-decoration: none; }
.form-profile .profile-password  a:hover{ color: #815087; text-decoration: underline;}
.form-profile label.small{    text-transform: none; margin-top: 21px;  font-size: 20px; font-weight: normal;  border-bottom: none; margin-bottom: 0px;}

.form-profile .form-control.noMarginTop,.request-playdate .form-control.noMarginTop, .create-playdate .form-control.noMarginTop,.submit-itinerary .form-control.noMarginTop,.form-profile .form-control.input-time, .request-playdate .form-control.input-time, .create-playdate .form-control.input-time, .submit-itinerary .form-control.input-time, .create-playdate .form-control.input-budget, .submit-itinerary .form-control.input-budget{ margin-top: 0px; margin-bottom: 20px; }
.form-profile .form-control.input-experience{ width: 120px; float: left; }
.form-profile label.small.toRight{ display: inline; margin-top: 5px; margin-left: 15px; }
.form-profile .form-control#inputNeighborhoods{ max-width: 350px;  }
.form-profile textarea#aboutMe{ margin-top: 0px; }
.box-certification span{ padding:10px 0px 20px 20px; display: inline-block; width: 80%; }
.box-certification img{ vertical-align: top; }

.box-media img{  width: 100%;  }
.box-media p{ color: #5b5b5b; margin-top:15px; text-decoration: none; width: 100%; }
.box-media:hover, .box-member:active, .box-member:focus, .box-member:visited{ text-decoration: none; color: #5b5b5b; }
label.custom-file.file-media{ position: relative; color: #815087; border: 2px solid #815087; margin:20px auto; display: table; max-width: 400px; }
label.custom-file.file-media:after{ position: absolute; content: "Upload Media"; left: 50%; top: 3px; transform: translateX(-50%); width: 100%; text-align: center;   }

.specialist-certification .legal{ color: #878787; font-size: 18px; }
.specialist-certification .legal a{ color: #815087 }
.specialist-certification .legal a:hover,.specialist-certification .legal a:active,.specialist-certification .legal a:focus{ color: #815087 }


.form-control#inputUsername::-webkit-input-placeholder,.form-control.input-budget::-webkit-input-placeholder, .form-control.input-time::-webkit-input-placeholder,  .form-control.input-age::-webkit-input-placeholder  {
  color: #aaaaaa;
  opacity: 1;
  text-align: center;
}

.form-control#inputUsername::-moz-placeholder, .form-control.input-budget::-moz-placeholder, .form-control.input-time::-moz-placeholder, .form-control.input-age::-moz-placeholder{
  color: #aaaaaa;
  opacity: 1;
   text-align: center;
}

.form-control#inputUsername:-ms-input-placeholder, .form-control.input-budget:-ms-input-placeholder,  .form-control.input-time:-ms-input-placeholder, .form-control.input-age:-ms-input-placeholder{
  color: #aaaaaa;
  opacity: 1;
   text-align: center;
}

.form-control#inputUsername::-ms-input-placeholder, .form-control.input-budget::-ms-input-placeholder, .form-control.input-time::-ms-input-placeholder,  .form-control.input-age::-ms-input-placeholder{
  color: #aaaaaa;
  opacity: 1;
   text-align: center;
}

.form-control#inputUsername::placeholder, .form-control.input-budget::placeholder, .form-control.input-time::placeholder,  .form-control.input-age::placeholder{
  color: #aaaaaa;
  opacity: 1;
   text-align: center;
}
.create-playdate p{ color: #878787 }
.create-playdate .btnSubmit p{ color:#815087; text-align: center;  }
.create-playdate .btnSubmit p.totalPrice{ font-size: 60px; font-weight: bold; line-height: 30px; }

.submit-itinerary p{ color: #878787 }
.submit-itinerary .btnSubmit p{ color:#815087; text-align: center;  }
.submit-itinerary .btnSubmit p.totalPrice{ font-size: 60px; font-weight: bold; line-height: 30px; }

.suggested-playdates{margin-top: 50px;}
.suggested-playdates .titulo{ font-weight: bold; text-align: center; color: #5b5b5b; margin-bottom: 50px; font-size: 30px;}
.suggested-playdates .box-playdates{ margin-top: 0px; }

.get-playpacks-info{margin-top: 50px;}
.get-playpacks-info .titulo{  text-align: center; color: #5b5b5b; margin-bottom: 50px; font-size: 20px;}
.get-playpacks-info .box-playdates{ margin-top: 0px; }
.get-playpacks-info .titulo a{ color:#815087; }
.get-playpacks-info .titulo a:hover, .get-playpacks-info .titulo a:focus, .get-playpacks-info .titulo a:active{ color:#815087;  outline: none; box-shadow: none;}
.get-playpacks-info button{ max-width: 300px; margin: auto; }
.get-playpacks-info button:hover, .get-playpacks-info button:focus, .get-playpacks-info button:active{ box-shadow: none; outline: none; }

#last-playdate .form-last-playdate-heading{ text-align: center; color: #5b5b5b; text-transform: uppercase; font-weight: 600; font-size: 30px;  }
#last-playdate .modal-dialog{ max-width: 900px; }
#last-playdate .modal-content{ padding-:100px; border-radius: 0px; border:none; background-size:cover;}
#last-playdate .modal-header, .modal-body{ background: #ffffff; border-radius: 0px;border:none; }
#last-playdate .modal-body{ padding: 50px 100px;  }
#last-playdate .form-signin-heading{ text-align: center; color: #5b5b5b; text-transform: uppercase; font-weight: 600; font-size: 30px;  }
.form-last-playdate .request{ margin: 30px 0px 30px 0px;  text-align: center; font-size: 18px; color: #aaaaaa;}
.form-last-playdate .request a{ color: #815087; text-decoration: none; opacity: 1; transition: all 0.5s ease; }
.form-last-playdate .request a:hover{ text-decoration: underline;color: #815087; opacity: 0.8; }

#last-playdate .playdate-info{ text-align: center;  margin:20px 0px; color: #5b5b5b}
#last-playdate .playdate-info .titulo, #last-playdate .name{ font-weight: bold; color: #5b5b5b }
#last-playdate .info span.place{ text-align: center; }
#last-playdate .info span{ color: #828282; font-size: 18px; }
#last-playdate .specialist{ text-align: center; margin:20px 0px; }


#last-playdate  .puntuacion ul, #last-playdate  .puntuacion ul li{ list-style: none;margin: 0px; padding: 0px; color:#828282;  }
#last-playdate .puntuacion ul li{ width: 15px; cursor: pointer; height: 15px; border:2px solid #828282; float: left; margin-right: 5px; border-radius:50%;  }
#last-playdate  .puntuacion ul{ margin-top: 10px; }
#last-playdate  .puntuacion ul li.active{ width: 15px; height: 15px; background:#815087;border:2px solid #815087; }
#last-playdate  .puntuacion span{ float: left; margin-left: 15px; font-size: 17px; margin-top:-6px; color:#828282; }
#last-playdate  .puntuacion{ position: absolute;left: 50%; transform:translateX(-50%); width: 17%; }
#last-playdate  textarea{ border-radius: 0px; border:2px solid #878787; margin: 50px 0px 20px 0px;  }
#last-playdate  button[type="submit"]{ width: 96%; display: table; margin: auto; box-shadow: none; margin-bottom: 50px; }
#last-playdate  button[type="submit"]:focus,#last-playdate  button[type="submit"]:active,#last-playdate  button[type="submit"]:hover{ outline: none; box-shadow: none; }
.create-playdate p.titulo.noUppercase{ text-transform: none; }
#dashboard-welcome .dashboard-welcome-heading.noUppercase{ text-transform: none; font-size: 25px; width: 100%; text-align: center; }
#dashboard-welcome .dashboard-welcome-heading{ text-align: center; color: #5b5b5b; text-transform: uppercase; font-weight: 600; font-size: 30px;  }
#dashboard-welcome a.bt-top{ box-shadow: none; margin: 30px 0px; padding: 5px 70px;  text-align: center; border: 2px solid #815087;border-radius: 0px;     color: #815087;     background: #ffffff;     transition: all 0.5s ease; display:block; text-transform: none;     font-size: 18px;     font-weight: normal;     box-shadow: none;}
#dashboard-welcome a.bt-top:focus,#dashboard-welcome  a.bt-top:active,#dashboard-welcome  a.bt-top:hover{ outline: none; background: #815087; color:#ffffff;  box-shadow: none; text-decoration: none; }
#dashboard-welcome .modal-dialog{ max-width: 1000px; }
#dashboard-welcome .modal-content{ padding-:100px; border-radius: 0px; border:none; background-size:cover;}
#dashboard-welcome .modal-header, .modal-body{ background: #ffffff; border-radius: 0px;border:none; }
#dashboard-welcome .modal-body{ padding: 50px 0px;  }
#dashboard-welcome .row{ margin: 0px 50px; }
#dashboard-welcome .box-playdates{ margin-top: 20px; } 
#dashboard-welcome .box-playdates .bt-reserve{ padding: 10px 0px; }
.closeButton{color: #fff; background:none; }
.itinerary-modal .itinerary-modal-heading.noUppercase{ text-transform: none; font-size: 25px; width: 100%; text-align: center; }
.itinerary-modal .itinerary-modal-heading{ text-align: center; color: #5b5b5b; text-transform: uppercase; font-weight: 600; font-size: 30px;  }
.itinerary-modal a.bt-top{ box-shadow: none; margin: 30px 0px; margin-top: 0px; padding: 5px 70px;  text-align: center; border: 2px solid #815087;border-radius: 0px;     color: #815087;     background: #ffffff;     transition: all 0.5s ease; display:block; text-transform: none;     font-size: 18px;     font-weight: normal;     box-shadow: none;}
.itinerary-modal a.bt-top.grey{ border-color :#838383; color: #838383;} 
.itinerary-modal a.bt-top.grey:hover, .itinerary-modal a.bt-top.grey:active, .itinerary-modal a.bt-top.grey:focus{ border-color :#838383; color: #ffffff; background: #838383} 
.itinerary-modal a.bt-top:focus,.itinerary-modal  a.bt-top:active,.itinerary-modal  a.bt-top:hover{ outline: none; background: #815087; color:#ffffff;  box-shadow: none; text-decoration: none; }
.itinerary-modal .modal-dialog{ max-width: 800px; }
.itinerary-modal .modal-content{ padding-:100px; border-radius: 0px; border:none; background-size:cover;}
.itinerary-modal .modal-header, .modal-body{ background: #ffffff; border-radius: 0px;border:none; }
.itinerary-modal .modal-body{ padding: 50px 0px;  }
.itinerary-modal .row{ margin: 0px 50px; }
.itinerary-modal .box-playdates{ margin-top: 20px; } 
.itinerary-modal .box-playdates .bt-reserve{ padding: 10px 0px; }
.modal-header .close{ border:none;  }

#nav-playpacks a.bt-top{ box-shadow: none; margin: 30px 0px; padding: 5px 70px;  text-align: center; border: 2px solid #815087;border-radius: 0px;     color: #815087;     background: #ffffff;     transition: all 0.5s ease; display:block; text-transform: none;     font-size: 18px;     font-weight: normal;     box-shadow: none; max-width: 400px; margin-top:45px;}
#nav-playpacks a.bt-top:focus,#nav-playpacks a.bt-top:active,#nav-playpacks a.bt-top:hover{ outline: none; background: #815087; color:#ffffff;  box-shadow: none; text-decoration: none; }



.rate-playdate  .puntuacion ul, .rate-playdate  .puntuacion ul li{ list-style: none;margin: 0px; padding: 0px; color:#828282;  }
.rate-playdate .puntuacion ul li{ width: 15px; height: 15px; border:2px solid #828282; float: left; margin-right: 5px; border-radius:50%;  }
.rate-playdate .puntuacion.rate ul li{  cursor: pointer;}
.rate-playdate  .puntuacion ul{ margin-top: 10px; }
.rate-playdate  .puntuacion ul li.active{ width: 15px; height: 15px; background:#815087;border:2px solid #815087; }
.rate-playdate  .puntuacion span{ float: left; margin-left: 5px; font-size: 17px; margin-top:-6px; color:#828282; }
.rate-playdate .box-playdates > div.puntuacion{ position: relative; width: 175px; float: right; }
.rate-playdate .bt-rate{ margin-top: 21px; display: block; text-align: center; color: #838383; }
.rate-playdate .bt-rate:hover, .rate-playdate .bt-rate:active, .rate-playdate .bt-rate:focus{ color: #838383;}
.rate-playdate .bt-edit{ margin-top: 21px; display: block; text-align: center; color: #838383; float: right; }
.rate-playdate .bt-edit:hover, .rate-playdate .bt-edit:active, .rate-playdate .bt-edit:focus{ color: #838383;}

.info-box.groups {  color: #ffffff; background: #815087; margin-top:20px; z-index: 0; margin-left: 0px; padding-bottom: 50px; } 
.info-box.groups h2{ font-size: 40px; font-weight: 700; text-align: center; color: #ffffff; z-index: 0; } 
.info-box.groups p{ text-align: left; padding: 0px 60px;  font-size: 25px; font-weight:bold; }
.info-box.groups button[type="submit"].bt-titulo{ display: table; font-size: 1rem;   padding: 10px 20px; margin: auto; color:#ffffff; border:2px solid #ffffff; transition:all 0.5s ease;text-decoration: none; background: transparent; min-width: 400px; text-align: center; }
.info-box.groups button[type="submit"].bt-titulo:hover, .info-box.groups button[type="submit"].bt-titulo:active, .info-box.groups button[type="submit"].bt-titulo:focus { background:#ffffff !important;  transition:all 0.3s ease;text-decoration: none; color: #815087 !important; box-shadow: none; }
.form-add-group input[type="text"] ,.form-create-group input[type="text"]{text-align: left;}
.info-box.groups p.text-invite{font-size: 20px;margin-bottom: 0px; font-weight: normal;}
.info-box.groups .mail-container{ margin-top: -25px; }
.info-box.groups #inputInviteUser, .info-box.groups .invitedUser{ width: 360px; margin-left: 61px; position: relative; }
.cont-invited, .cont-invite{ position: relative; }
.cont-invited a, .cont-invite a{ position: absolute; top: 3px; right: 65px; }
.cont-invited a{transform: rotate(45deg)}


.box-playdates.invitation .invited-title{ background: #815087;  margin-top:  0px; font-weight:  bold;text-transform: uppercase; font-size: 28px; text-align: center; color: #ffffff;   }
.box-playdates.invitation .invited-title p { margin:21px 0px; }

.request-playdate p.titulo{font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #bbbbbb; color: #5b5b5b; width: 100%; padding-bottom: 10px; font-size: 28px; margin:0px; margin-bottom: 30px;  }
.request-playdate .type-of-care .form-group,.request-playdate .privacy .form-group, .request-playdate .children .form-group,   .request-playdate .addons .form-group{ float: left; width: 100%; margin: 0px; }
.request-playdate input[type="checkbox"] + label{ max-width: 85%; }
.request-playdate #inputGroupName{ margin-top: 20px; display: inline-block; }
p.titulo a, p.titulo a:hover{ color: #5b5b5b; }
p.titulo a i{ font-size: 20px; }
p.titulo span{ color: #878787; font-size: 18px; font-weight: normal; text-transform: none; }
.create-playdate p.titulo{font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #bbbbbb; color: #5b5b5b; width: 100%; padding-bottom: 10px; font-size: 28px; margin:0px; margin-bottom: 30px;  }
.create-playdate .type-of-care .form-group,.create-playdate .privacy .form-group, .create-playdate .children .form-group,   .create-playdate .addons .form-group{ float: left; width: 100%; margin: 0px; }
.create-playdate input[type="checkbox"] + label{ max-width: 85%; }
.create-playdate #inputGroupName{ margin-top: 20px; display: inline-block; }

.submit-itinerary p.titulo{font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #bbbbbb; color: #5b5b5b; width: 100%; padding-bottom: 10px; font-size: 28px; margin:0px; margin-bottom: 30px;  }
.submit-itinerary .type-of-care .form-group,.create-playdate .privacy .form-group, .submit-itinerary .children .form-group,   .submit-itinerary .addons .form-group{ float: left; width: 100%; margin: 0px; }
.submit-itinerary input[type="checkbox"] + label{ max-width: 85%; }
.submit-itinerary #inputGroupName{ margin-top: 20px; display: inline-block; }

.admin-slider .all-slides{ position: relative;min-height: 220px; }
.admin-slider .all-slides .slide{ position: absolute; display: none;  }
.admin-slider .all-slides .slide img{ width: 100%; }
.admin-slider .all-slides .slide.selected{ display: block; }
.admin-slider .pagination{ text-align: center; display: block;  }
.admin-slider ul, .admin-slider ul li{ list-style: none; display: inline-block; padding: 0px; }
.admin-slider ul{ text-align: center; }
.admin-slider ul li a, .admin-slider ul li a:hover{ color: #815087 ; text-decoration: none; }
.admin-slider ul li a.selected{ font-weight: bold; }

.admin-slider.front .all-slides{ position: relative; min-height: 0px; }
.admin-slider.front .all-slides .slide{ width: 100%; }
.admin-slider.front .nav{ position: absolute; width: 100%; transform:translateY(-50%); top: 50%; }
.admin-slider.front .nav .bt-slider-left{position: absolute; left: 5px;}
.admin-slider.front .nav .bt-slider-right{position: absolute; right: 5px;transform: rotate(180deg);}

.itinerary-info{ padding: 30px; }
.itinerary-info p{ margin: 0px; color: #5b5b5b; }
.itinerary-info p.name{ font-weight: bold;font-size: 32px; line-height: 35px; max-width: 300px; }
.itinerary-info p.place{ margin-top: 5px; }
.itinerary-info p.date{ font-weight: bold;font-size: 28px; line-height: 33px; margin-top: 30px; }
.itinerary-info p.reserve{ margin-top: 5px; }
.itinerary-info p.age{ margin-top: 30px; }

.itinerary-extras{ display: table; margin: auto; max-width: 350px; }
.itinerary-extras .totalPrice{ font-size: 60px; font-weight: bold; text-align: center; color: #5b5b5b; }
.create-playdate p.invite-parent-title{ font-size: 35px; font-weight: bold; color: #5b5b5b; text-align: center; margin: 20px 0px;  }
.itinerary-extras .form-group{float: left; width: 100%;margin: 0px;}
.itinerary-extras button{ margin: 20px 0px; }
.itinerary-extras button.grey{ margin:  0px; border-color: #838383; color: #838383; padding-left: 30px; padding-right: 30px; }
.itinerary-extras button.grey:hover,.itinerary-extras button.grey:active,.itinerary-extras button.grey:focus{ margin:  0px; border-color: #838383 !important; color: #ffffff; background:#838383 !important;  }

.updates .img-member{ max-width: 60px; }

.create-playdate.itinerary .category{ position: relative; padding-left: 50px; line-height: 40px;font-weight: bold; font-size: 28px; }
.create-playdate.itinerary .category:before{ content: ""; width: 40px; height: 40px; background: transparent; border-radius: 50%; top:0px; left: 0px;position: absolute;}
.create-playdate.itinerary .description p{ margin: 0px; }
.create-playdate.itinerary .description .data{ margin: 20px 0px; }

.create-playdate.itinerary .location iframe{ width: 100%; }

.sidebar .groups .data{ margin: 30px 0px; }
.sidebar .groups .data p{ margin:0px; margin-bottom: 10px; }
.sidebar .groups .data p a{color: #5b5b5b; text-decoration: none;}
.sidebar .groups .data p a:hover{ text-decoration: underline;}
.passed-playdate { text-align: center; margin-top: -30px; } 

.form-group label a, .form-group label a:hover{ color: #ffffff; }

.bt-link-reserved-playdate{ text-align: center; color: #815087;  display: block;}
.bt-link-reserved-playdate:hover{ text-align: center; color: #815087; text-decoration: underline;  }

.public-profile .bt-save-profile{ margin-bottom: 30px; }

.featured-specialists p.titulo-supporters{    font-weight: bold;  text-transform: uppercase;  border-bottom: 1px solid #bbbbbb;   color: #5b5b5b;  width: 100%;   padding-bottom: 10px;   font-size: 28px;  margin: 0px;  margin-bottom: 30px; text-align: left;}
.featured-specialists p.titulo-supporters a { color: #5b5b5b; font-size: 20px;}
.featured-specialists p.titulo-supporters a:hover, .featured-specialists p.titulo-supporters a:active, .featured-specialists p.titulo-supporters a:focus{ color: #5b5b5b; font-size: 20px;}


.attractions{ border-color: #95d192; }
.creative{ border-color: #fec0e2; }
.outdoor{ border-color: #61cae4; }
.stem{ border-color: #fda35e; }
.invitation{ border-color: #815087; background: #f6f6f6; }

.submit-itinerary.public-profile .interests .interest-name.stem:before{ background: #fda35e;  }
.submit-itinerary.public-profile .interests .interest-name.attractions:before{ background: #95d192;  }
.submit-itinerary.public-profile .interests .interest-name.creative:before{ background: #fec0e2;  }
.submit-itinerary.public-profile .interests .interest-name.outdoor:before{ background: #61cae4;  }


.create-playdate.itinerary  .category.stem:before{ background: #fda35e;  }
.create-playdate.itinerary  .category.attractions:before{ background: #95d192;  }
.create-playdate.itinerary  .category.creative:before{ background: #fec0e2;  }
.create-playdate.itinerary  .category.outdoor:before{ background: #61cae4;  }


@media only screen and (max-width: 1200px){
  .intro-row .texto h2{ font-size: 50px; }
  #mainNav .navbar-nav > li.nav-item > a{ padding: 10px 12px; }
  .featured-playdates.mission .cat-mision{ font-size: 26px; }
  .safety{ margin-top: 0px; }
  .safety .ranges-container .baby-container, .safety .ranges-container .specialist-container{ width: 100%; margin-top: 20px;  }
  .safety .row.ranges-container > .col-lg-3{ max-width: 50%; flex: 0 0 50%; padding: 0px 100px; }
  .affordability .calculator .col-lg-3{ max-width: 50%; flex: 0 0 50%;  }
  .safety .ranges-container .info{ margin-top: 0px; margin-bottom: 30px }
  .safety{ margin-top: 0px; }
  .content-title .texto{margin-right: 0px; }
  .safety .ranges-container .col-lg-9.specialist-container{ text-align: right; }
  .requirements .row.row-eq-height{ margin: 0px; }
  
  .featured-playdates.requirements .row.row-eq-height .vcenter{ max-width: 50%; flex: 0 0 50%;}
  .featured-playdates.requirements .box-playdates{ min-height: 350px; }
  .featured-playdates.requirements .box-playdates.last{ margin-top: -20px; }
  .featured-specialists .titulo{ padding: 100px 50px 30px 50px;  }
  .content-title .texto.become-partner{ min-height: 420px; }
  .box-playdates .bt-reserve{ min-width: 160px; padding:0px 30px;  }
  .featured-playdates.get-playpacks .box-playdates{ margin-left: 25px; }
  .submit-itinerary .sidebar .box-playdates{ padding-bottom: 0px; border-bottom: none; min-height: 0px; width: 100%; }
   .nav-tabs .nav-link.active{ padding: .5rem .5rem; }
   label.custom-file{ bottom: 85px; }
   .my-dashboard label.custom-file {bottom:110px;}
   .box-playdates .info .title{  width: 240px;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
   .featured-specialists .info-back p{padding: 0px 20px; text-align: center; margin-top: 15px; font-size:18px; }
   .row-dashboard.updates p{ padding-right: 50px; }
   .col-list-container .col-lg-3{ flex: 0 0 50%; max-width: 50%; }
  }
@media only screen and (max-width: 1024px){

  .public-profile .row.all-playdates .col-lg-3, .public-profile .row.all-playdates .col-lg-9, .create-playdate .row.all-playdates .col-lg-3,   .create-playdate .row.all-playdates .col-lg-9, .simple-page .row.all-playdates .col-lg-3,   .simple-page .row.all-playdates .col-lg-9,.simple-page .row.help-center .col-lg-3,   .simple-page .row.help-center .col-lg-9{ max-width: 100%; flex: 0 0 100%; }
  label.custom-file.file-media{ margin-top: 100px; }
  label.custom-file{bottom: 50px;}
  .featured-specialists .info-back p{margin-top: 10px;}
  .featured-playdates .row{ margin-right: 15px; margin-left: 15px;  }
  .featured-playdates .row .col-lg-3,.suggested-playdates .row .col-lg-3{ flex: 0 0 50%; max-width: 50%;  margin-bottom: 50px; }
  .row.featured-specialists .col-lg-3{ flex: 0 0 50%; max-width: 50%;  margin-top: 25px; }
  .row.featured-specialists .col-lg-3.first{ margin-top: 0px; }
  .my-dashboard label.custom-file{ bottom:85px; }
}

@media only screen and (max-width: 991px) {
  .hide{ display: none; }
  #mainNav.is-fixed, #mainNav {
    background-color: rgba(129, 80, 135, 0.8);
  }
  .intro-row .texto h2{ font-size: 40px; }
  .featured-playdates.mission .cat-mision{ font-size: 40px; }

  .about-info .vtop:first-of-type .content-title .texto{ margin-bottom: 50px; }
  #mainNav .navbar-brand{ max-width: 210px; }
  #mainNav .navbar-brand img{ width: 100%; }
  .featured-playdates.mission .box-playdates{ width: 100%; max-height: 100%; }
  .box-playdates.last{ margin-top: -20px; }
  header.masthead{ width: 103%; }
  .box-playdates .info .title{  width: 100%;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
  
  .safety .ranges-container .baby-container, .safety .ranges-container .specialist-container{ margin-top: 20px; text-align: center; }
  .content-title .texto.become-partner{ min-height: 700px; }
  .content-title .texto.become-partner .descriptions{ margin-top: -150px; }
  .form-profile .img-profile{ position: relative; }
  .simple-page .dashboard-profile{ margin-top: 50px; }
  .sidebar .row .bt-container:last-child .bt-help-type{ margin-top: 15px;  }
  /*.featured-playdates .box-playdates{ margin-top: 0px; }
  .featured-playdates .box-playdates.first{ margin-top: -70px; }
  .featured-playdates .box-playdates.first{ margin-top: -70px; }*/
  header.masthead .site-heading{ position: relative; margin-top: 100px; top:0px; bottom: 0px; padding-bottom: 50px;}
  .home header.masthead .site-heading{ top:0px; }
  .featured-specialists .card{ margin-top: 25px; }
  .featured-specialists .info-back p{margin-top: 60px;}
  .featured-playdates{ margin-top: 500px; }
  .site-heading span.reimagined,.site-heading span.subheading{ color: #ffffff; }
  .masthead .row .col-lg-6.cont-slider-home{ margin-right: 25px; }
  .row-dashboard .info-updates{ padding-left: 50px; }
  .row-dashboard.updates span{ padding-left: 0px; }
  .your-personal-info{ margin-top: 50px; }
  #last-playdate .puntuacion{ width: 25%; }
  .specialist-dashboard .bt-upload-update{ margin-bottom: 20px; }
  .public-profile .bt-save-profile{ max-width: 100%; }

}

@media only screen and (max-width: 767px) {
  .featured-playdates .titulo{ margin: 0px; }
  .featured-playdates.mission .box-playdates{ margin-top:0px; }
  .featured-playdates.mission .box-playdates, .featured-playdates.mission .box-playdates.last{ margin-top: 20px; margin-bottom: 0px; }
  .safety .row.ranges-container > .col-lg-3,.affordability .calculator .col-lg-3{ flex: none; max-width: 100%; }
  .safety{ margin-top: 50px; }
  .simple-page header.masthead .page-heading h1, .simple-page header.masthead .site-heading h1{ font-size: 50px; }
  .content-title .become-partner.texto p{ padding: 0px; }
  .featured-playdates h2{ padding: 0px 20px; font-size: 30px; }
  .featured-playdates.requirements .row.row-eq-height .vcenter{ flex:0 0 100%; max-width: 100%;  }
  .featured-playdates.requirements .box-playdates.last{ margin-top: -70px; }
  .featured-playdates.requirements .box-playdates{ margin-bottom: 90px; }
  footer .legal .redes{ margin-top: 10px; }
  .safety .content-title .texto .measures{ max-width: 90%; }
  .content-title .texto{ padding:50px 30px;  }
  .contact-form form{ max-width: 100%; }
  .contact-form form .row .col-lg-12{ padding: 0px; }
  .featured-specialists .info-back p{ margin-top: 20px; }
  .box-playdates .bt-reserve{ min-width: 0px; }
  .nav-tabs .nav-link{ font-size:18px;  }
  header.masthead .site-heading .subheading{ margin-top:-15px; font-size: 20px; }
  .featured-specialists .titulo{ margin: 0px 15px; padding: 50px 50px 30px 50px}
  .featured-playdates{margin-top: 0px;}
}
@media only screen and (max-width: 480px) {
  .featured-specialists .titulo{ margin:0px; margin-top:-70px; }
  .content-title .texto.become-partner{ min-height: 1000px; }
  .content-title .texto.become-partner .descriptions{ margin-top: -300px; }
  #login .modal-content{padding: 0px;}
  #login .modal-body{ padding: 50px; }
  label.custom-file{ bottom: 25px; }
  .featured-playdates .row .col-lg-3, .suggested-playdates .row .col-lg-3{ flex: 0 0 100%; max-width: 100%; }
  .content-title .texto ul.list-icon li{ background-position: 0px 0px !important; padding-left: 35%;}
  .content-title .texto ul.list-icon.titles li{ padding-left: 35% }
  .content-title .texto{ padding: 50px 20px; }
  .row.featured-specialists .col-lg-3{ flex: 0 0 100%; max-width: 100%; margin-bottom: 0px; }
  .row.featured-specialists .col-lg-12{ margin-top: 50px; }
  .simple-page header.masthead .site-heading{ padding-top: 150px; }
  .my-dashboard label.custom-file{ bottom: 15px; }
  button[type="submit"].bt-add-item{ width: 100%; }
  #dashboard-welcome .row{ margin: 0px 10px; }
  #last-playdate .modal-body{ padding: 50px 20px; }
  #last-playdate .puntuacion{ width: 50%; }
  .info-box .titulo{ padding: 50px 20px; }
  .info-box button[type="submit"].bt-titulo{ min-width: 0px; width: 100%; }
}
/* PAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

